.main {
    width: 1300px;
}

.footer {
    margin: 20px 0 0;
    font-size: 0.8em;
    color: gray;
    opacity: 0.8;
}
.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1390px) {
  .main {
    width: 1038px;
  }
}

@media (max-width: 1080px) {
  .main {
    width: 450px;
  }

  .flex-container {
    flex-direction: column;
    height: none;
  }
}